<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
   @import url(http://fonts.googleapis.com/css?family=Oswald);
   #cssmenu,
   #cssmenu ul,
   #cssmenu ul li,
   #cssmenu ul li a,
   #cssmenu #menu-button {
     margin: 0;
     padding: 0;
     border: 0;
     list-style: none;
     line-height: 1;
     display: block;
     position: relative;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
   }
   #cssmenu:after,
   #cssmenu > ul:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
   }
   #cssmenu #menu-button {
     display: none;
   }
   #cssmenu {
     width: auto;
     border: 3px solid #0A6EFF;
     border-radius: 3px;
     font-family: 'Oswald', sans-serif;
     line-height: 1;
     background: #f7f7f7;
     box-shadow: 1px 1px 0 #1478FF, 2px 2px 0 #288CFF, 3px 3px 3px rgba(0, 0, 0, 0.35);
   }
   #cssmenu > ul {
     background: url('images/bg.png');
   }
   #cssmenu > ul > li {
     float: left;
   }
   #cssmenu.align-center > ul {
     font-size: 0;
     text-align: center;
   }
   #cssmenu.align-center > ul > li {
     display: inline-block;
     float: none;
   }
   #cssmenu.align-right > ul > li {
     float: right;
   }
   #cssmenu > ul > li > a {
     padding: 20px 25px;
     font-size: 20px;
     text-transform: uppercase;
     text-decoration: none;
     color: #444444;
     -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
     -ms-transition: all .2s ease;
     -o-transition: all .2s ease;
     transition: all .2s ease;
   }
   #cssmenu > ul > li > a:hover,
   #cssmenu > ul > li:hover > a,
   #cssmenu > ul > li.active > a {
     color: #148CFF;
   }
   #cssmenu #menu-indicator {
     position: absolute;
     bottom: 0;
     display: block;
     height: 0;
     width: 0;
     border: 5px solid transparent;
     border-bottom-color: #0064FF;
     -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
     -ms-transition: all 0.25s ease-out;
     -o-transition: all 0.25s ease-out;
     transition: all 0.25s ease-out;
   }
   #cssmenu.small-screen {
     width: 100%;
   }
   #cssmenu.small-screen > ul,
   #cssmenu.small-screen.align-center > ul {
     width: 100%;
     text-align: left;
   }
   #cssmenu.small-screen > ul > li,
   #cssmenu.small-screen.align-center > ul > li {
     float: none;
     display: block;
     border-top: 1px solid rgba(100, 100, 100, 0.1);
   }
   #cssmenu.small-screen > ul > li > a {
     padding: 18px 25px;
   }
   #cssmenu.small-screen > ul > li:after,
   #cssmenu.small-screen > ul > li:before {
     display: none;
   }
   #cssmenu.small-screen #menu-button {
     display: block;
     padding: 18px 25px;
     cursor: pointer;
     font-size: 14px;
     text-transform: uppercase;
     text-decoration: none;
     color: #148CFF;
     background: url('images/bg.png');
   }
   #cssmenu.small-screen #menu-button.menu-opened {
     color: #148CFF;
   }
   #cssmenu.small-screen #menu-button:after {
     content: "";
     position: absolute;
     right: 25px;
     top: 19.5px;
     display: block;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     border-top: 2px solid #444444;
     border-bottom: 2px solid #444444;
     width: 18px;
     height: 3px;
   }
   #cssmenu.small-screen #menu-button.menu-opened:after {
     border-top: 2px solid #148CFF;
     border-bottom: 2px solid #148CFF;
   }
   #cssmenu.small-screen #menu-button:before {
     content: "";
     position: absolute;
     right: 25px;
     top: 29.5px;
     display: block;
     width: 18px;
     height: 2px;
     background: #444444;
   }
   #cssmenu.small-screen #menu-button.menu-opened:before {
     background: #148CFF;
   }
   #cssmenu.small-screen #menu-indicator {
     display: none;
   }
   </style>
   <style>
   @import url(http://fonts.googleapis.com/css?family=Oswald);
   #cssmenu2,
   #cssmenu2 ul,
   #cssmenu2 ul li,
   #cssmenu2 ul li a,
   #cssmenu2 #menu-button {
     margin: 0;
     padding: 0;
     border: 0;
     list-style: none;
     line-height: 1;
     display: block;
     position: relative;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
   }
   #cssmenu2:after,
   #cssmenu2 > ul:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
   }
   #cssmenu2 #menu-button {
     display: none;
   }
   #cssmenu2 {
     width: auto;
     border: 3px solid #0A6EFF;
     border-radius: 3px;
     font-family: 'Oswald', sans-serif;
     line-height: 1;
     background: #f7f7f7;
     box-shadow: 1px 1px 0 #1478FF, 2px 2px 0 #288CFF, 3px 3px 3px rgba(0, 0, 0, 0.35);
   }
   #cssmenu2 > ul {
     background: url('images/bg.png');
   }
   #cssmenu2 > ul > li {
     float: left;
   }
   #cssmenu2.align-center > ul {
     font-size: 0;
     text-align: center;
   }
   #cssmenu2.align-center > ul > li {
     display: inline-block;
     float: none;
   }
   #cssmenu2.align-right > ul > li {
     float: right;
   }
   #cssmenu2 > ul > li > a {
     padding: 20px 25px;
     font-size: 20px;
     text-transform: uppercase;
     text-decoration: none;
     color: #444444;
     -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
     -ms-transition: all .2s ease;
     -o-transition: all .2s ease;
     transition: all .2s ease;
   }
   #cssmenu2 > ul > li > a:hover,
   #cssmenu2 > ul > li:hover > a,
   #cssmenu2 > ul > li.active > a {
     color: #148CFF;
   }
   #cssmenu2 #menu-indicator {
     position: absolute;
     bottom: 0;
     display: block;
     height: 0;
     width: 0;
     border: 5px solid transparent;
     border-bottom-color: #0064FF;
     -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
     -ms-transition: all 0.25s ease-out;
     -o-transition: all 0.25s ease-out;
     transition: all 0.25s ease-out;
   }
   #cssmenu2.small-screen {
     width: 100%;
   }
   #cssmenu2.small-screen > ul,
   #cssmenu2.small-screen.align-center > ul {
     width: 100%;
     text-align: left;
   }
   #cssmenu2.small-screen > ul > li,
   #cssmenu2.small-screen.align-center > ul > li {
     float: none;
     display: block;
     border-top: 1px solid rgba(100, 100, 100, 0.1);
   }
   #cssmenu2.small-screen > ul > li > a {
     padding: 18px 25px;
   }
   #cssmenu2.small-screen > ul > li:after,
   #cssmenu2.small-screen > ul > li:before {
     display: none;
   }
   #cssmenu2.small-screen #menu-button {
     display: block;
     padding: 18px 25px;
     cursor: pointer;
     font-size: 14px;
     text-transform: uppercase;
     text-decoration: none;
     color: #148CFF;
     background: url('images/bg.png');
   }
   #cssmenu2.small-screen #menu-button.menu-opened {
     color: #148CFF;
   }
   #cssmenu2.small-screen #menu-button:after {
     content: "";
     position: absolute;
     right: 25px;
     top: 19.5px;
     display: block;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     border-top: 2px solid #444444;
     border-bottom: 2px solid #444444;
     width: 18px;
     height: 3px;
   }
   #cssmenu2.small-screen #menu-button.menu-opened:after {
     border-top: 2px solid #148CFF;
     border-bottom: 2px solid #148CFF;
   }
   #cssmenu2.small-screen #menu-button:before {
     content: "";
     position: absolute;
     right: 25px;
     top: 29.5px;
     display: block;
     width: 18px;
     height: 2px;
     background: #444444;
   }
   #cssmenu2.small-screen #menu-button.menu-opened:before {
     background: #148CFF;
   }
   #cssmenu2.small-screen #menu-indicator {
     display: none;
   }

   </style>
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="../public/script.js"></script>
</head>
<body>
<h1 style="text-shadow: 2px 2px 2px gray; line-height: 60%;,@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 70px; color:  #148CFF; text-align: center;">2NfU</h1>
<h2 style="@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 20px; color:  #444444; text-align: center;">Nice News For U</h2>
<div id='cssmenu' style="margin-bottom: 10px;">
<ul>
  <li><a href='/'>Main</a></li>
  <li class="active"><a href='/news/all'>News</a></li>
  <li><a href='/addrp'>Enrollment</a></li>
  <li><a href='/addgroup'>Press</a></li>
  <li><a href='/mypage'>My Page</a></li>
  <li><a href='/fake'>Fakes</a></li>
  <li><a href='/ranking'>Ranking</a></li>
  <li><a href="/admin">Admin</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">register</a></li>
</ul>
</div>
<div id='cssmenu2' style="width:120px; margin-right: 10px; height:480px;float:left">
<ul>
  <li><a href='/news/all'>All</a></li>
  <li><a href='/news/social'>Social</a></li>
  <li><a href='/news/sports'>Sports</a></li>
  <li class="active"><a href='/news/living'>Living</a></li>
  <li><a href='/news/world'>World</a></li>
  <li><a href='/news/it'>It</a></li>
  <li><a href='/news/culture'>Culture</a></li>
</ul>
</div>
<div class="container">
<h2>Living News</h2>
<p>News about Living.</p>

<table class="table table-striped">
<thead>
<tr>
<th>기사 번호</th>
<th>제목</th>
<th>분류</th>
<th>수정</th>
<th>삭제</th>
</tr>
</thead>
<tbody>
<% data.forEach(function (item,index){ %>
<tr>
<td>
  <%= item.ID %>
</td>
<td>
<a href='/detail/<%= item.ID %>'><%= item.TITLE %></a>
</td>
<td>
  <%= item.CATEGORIZE %>
</td>
<td>
<a href="/delete/<%= item.ID %>">수정</a>
</td>
<td>
<a href="/edit/<%= item.ID %>">삭제</a>
</td>
</tr>
  <% })%>
</tbody>
</table>
</div>


<br>
<br>


<div class="container">
<ul class="pager">



<%
var curSet = pasing.curSet
var endPage = pasing.endPage
var startPage = pasing.startPage
var totalSet = pasing.totalSet
var totalPage = pasing.totalPage
var page_list_size = pasing.page_list_size
var page_size = pasing.page_size
var curPage = pasing.curPage
%>


<%
if(curSet > 1){
%>

<li value=(startPage -1) class="previous">
<a href='/pasing/<%= ( startPage - 1) %>'>이전페이지</a>
</li>

<%
}
%>


<%
for(var i = startPage; i <= endPage; i++){
if(i > totalPage){break;}

if(i == curPage){
%>
<li value=<%= i %> class='' >
<a href='/pasing/<%= i %>'>
<%= i %>
</a>
</li>

<%
}else{
%>

<li value=<%= i %> class='active' >
<a href='/pasing/<%= i %>'>
<%= i %>
</a>
</li>


<%
}
%>

<%
}
%>

<%
if(curSet < totalSet){
%>
<li value=( endPage + 1) class="next">
<a href='/pasing/<%= ( endPage + 1) %>'>다음페이지</a>
</li>
<%
}
%>

</ul>
</div>
